{% extends "layout.html" %}

{% block app_content %}
    <div>
        {% from "_formhelpers.html" import render_field %}
        <form method="post" enctype="multipart/form-data">
            <div class = "container">
                <div class = "row">
                    
                    <div class="col-md-5 col-sm-12 align-self-center">
                        <div class="card">
                            <div class="card-header">
                                Email Confirmation form
                            </div>
                            <div class="card-body">
                                <div>
                                    {{ form.hidden_tag()}}
                                    {{ render_field(form.email, class="form-control")}}
                                    {{ render_field(form.submit, class = "btn btn-primary") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock app_content %}