{% extends "admin-layout.html" %}

{% from "_formhelpers.html" import render_field %}

{% block content %}
    <div>
        {% from "_formhelpers.html" import render_field %}
        <form method="post" enctype="multipart/form-data">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="font-weight-bold text-primary">Pick up</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-8">
                                        <div>
                                            {{ form.hidden_tag()}}
                                            {{ render_field(form.category, class="form-control")}}
                                            {{ render_field(form.weight, class="form-control")}}
                                            {{ render_field(form.amount, class="form-control")}}
                                            {{ render_field(form.size, class="form-control")}}
                                            {{ render_field(form.pickup_time, class="form-control", type="time")}}
                                            {{ render_field(form.pickup_date, class="form-control", type="date")}}
                                            {{ render_field(form.pkg_type, class="form-control")}}
                                            {{ render_field(form.pkgSource, class="form-control")}}
                                            {{ render_field(form.pkgDes, class="form-control")}}
                                            {{ render_field(form.description, class="form-control")}}
                                            {{ render_field(form.submit, class="btn btn-primary" )}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}