{% extends "layout.html" %}

{% block app_content %}
    
    <div class="parallax-bg">

    </div>
    <div class = "container-profile">
        <div class>
            <h1>Welcome to Deliver Today</h1>
            <p>We bring your needs right at your doorstep-have a great journey ahead!</p>
            <h6></h6>Hey there, welcome to the DeliverToday community!</h6> 
            <h6>For the safety and comfort of all our users, we ask you to 
                always be polite, we are sure you will love it here!</h6>
        </div>
    </div>
{% endblock app_content %}